@font-face {
    font-family: 'ArtifaktElement';
    src:url('../fonts/ArtifaktElement/WOFF/Artifakt%20Element%20Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'ArtifaktElement';
    src:url('../fonts/ArtifaktElement/WOFF/Artifakt%20Element%20Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ArtifaktElement';
    src:url('../fonts/ArtifaktElement/WOFF/Artifakt%20Element%20Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'ArtifaktElement';
    src:url('../fonts/ArtifaktElement/WOFF/Artifakt%20Element%20Medium.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'ArtifaktElement';
    background: #FBFBFB;
}
.btn{
    height: 37px;
    line-height: 37px;
    padding: 0 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background: #5D5D5D;
    border-radius: 5px;
}
    .btn:hover{
        background: #000;
    }
    .btn--update{
        background: #4F86C6;
    }
        .btn--update:hover{
            background: #284568;
        }

.logo{
    position: absolute;
    left: 38px;
    bottom: 30%;
    min-height: 250px;
    color: #5D5D5D;
    font-size: 10px;
}
    .logo__version{
        font-weight: 700;
    }
    .logo__copy{
        font-weight: normal;
    }
    .logo__update{
        margin-top: 50px;
    }
        .logo__update__list{
            color: #B0B0B0;
            padding: 0 16px;
        }
        .logo__update__list a, .logo__update__list a:visited{
            color: #B0B0B0;
        }

.license{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    background: #FBFBFB;
    border-top: 1px solid #C9C9C9;
}
    .license__inner{
        float: left;
        padding: 0 0 0 36px;
        font-size: 12px;
    }
    .license__name{
        color: #000;
        margin-top: 24px;
    }
    .license__type, .license__date{
        color: #5D5D5D;
        margin-top: 1em;
    }

    .license__upgrade{
        margin-top: 10px;
    }

.nointernet{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 330px;
    height: 250px;
    margin: -125px 0 0 -165px;
    text-align: center;
    font-size: 20px;
}
    .nointernet__text{
        margin-top: 20px;
    }
    .nointernet__button{
        margin-top: 32px;
    }


/* HELPERS */
.hidden{
    display: none;
}
